<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.baseurl }}/" class="site-title">
      <img src="{{ site.baseurl }}/images/ohi-logo.png" alt='OHI logo'>
      {% if site.flag %}
        <img src="{{ site.baseurl }}/images/{{ site.flag }}" alt='{{ site.study_area }} flag'>
      {% endif %}<br>
      OHI<i class="fa fa-search-plus"></i> {{ site.study_area }}
    </a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
